body {
    background:#141414;
    color:white;
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
}

header {
    background:#000;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.movies {
    display:flex;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
}

.card {
    background:#222;
    padding:15px;
    width:200px;
}

.card img, video {
    width:100%;
}

input, button {
    padding:10px;
    margin:5px;
}

button, a {
    background:red;
    color:white;
    text-decoration:none;
    padding:8px;
    display:inline-block;
    margin-top:5px;
}

form {
    margin:20px;
}